# Virtual Environments
venv
env

# vs code files
.vscode

# pycharm files
.idea

# Ignore keys
secrets
!secrets/readme.txt

# Databases
databases
!databases/readme.txt

# Other files and folders
__pycache__