
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto+Mono&display=swap');

* {
	box-sizing: border-box;
}

body {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cfe7eb, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Roboto Mono', monospace;

 }

.container {
  margin-top: 100px;
  background: rgb(240, 243, 243);
  border-radius: 5px;
  width:250px;
  height: 300px;
  }

  .container-fluid {
  margin-top: 100px;
  background: rgb(240, 243, 243);
  border-radius: 5px;
  width:350px;
  height: 600px;
  }

 .bottom {
   text-align: center;
   margin-top: 3rem;
   font-size: 12px;
 }

 .submit {
   text-align: center;
 }

 ::placeholder {
  font-size: 12px;
 }

.form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 15px;
}


input[type=text] {
  border: none
}


input[type=password] {
  border: none
}

.form-field2 {
  text-align: center;
  margin-top: 2rem;
}

h6 {
  font-family: 'Roboto Mono', monospace;
  color: rgb(37, 36, 36);
}

.row-1 {
  margin-left: 15px;
  margin-top: 15px;

}

.h5 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'DotGothic16', sans-serif;
  color: rgb(37, 36, 36);
}

 .error {
   font-size: 9px;
   margin-top: 1rem;
   text-align: center;
   
 }

 .signup {
  text-align: center;
  font-size: 12px;
  margin-top: 1.5rem;
  
 }

 .signup a {
   text-decoration: none;
   color:rgb(37, 36, 36)
 }

 .signup a:hover {
   color: rgb(140, 226, 222);
 }

 a {
  text-decoration: none;
  color:rgb(37, 36, 36)
 }

 a:hover {
  color: rgb(140, 226, 222);
 }

 .flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px;
  margin: 0;
  list-style: none;
}

.flex-item {
  filter: drop-shadow(0 0 0.35rem grey);
  background-color: white;
  padding: 60px;
  width: 300px;
  height: 300px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 70px;
  color: rgb(37, 36, 36);
  font-size: 1.5em;
  text-align: center;
  font-family: 'DotGothic16', sans-serif;
}
 




