body {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cfe7eb, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto Mono', monospace;
  
   }


.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
    filter: drop-shadow(0 0 0.35rem grey);
    background-color: white;
    padding: 60px;
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 70px;
    color: rgb(37, 36, 36);
    font-size: 1.5em;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
  }
