<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test</title>

        <!--Server Resources-->
        <script src="{{ url_for('static', filename='sessions.js') }}" defer></script>
        <script src="{{ url_for('static', filename='contacts.js') }}" defer></script>
        
        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!--Fontawesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <div class="container">
            <h2>Emergency Contacts</h1>
            <p style="text-align: right;">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addContactPanel" aria-expanded="false" aria-controls="addContactPanel">
                    <i class="fa fa-user-plus"></i>
                </button>
            </p>
            <div class="collapse" id="addContactPanel">
                <div class="card card-body">
                    <form>
                        <div class="form-group">
                            <label for="phoneNumberInput">Phone Number</label>
                            <input id="phoneNumberInput" type="tel" class="form-control" aria-describedby="emailHelp" placeholder="+46 XX-XXX XX XX">
                            <small id="emailHelp" class="form-text text-muted">We'll send a text message to the recepient in case something happens</small>
                        </div>
                        <button id="saveButton" type="button" class="btn btn-success" onclick="onSaveButtonClicked()">
                            <span id="saveText">Save</span>
                            <div id="saveSpinner" class="spinner-border spinner-border-sm text-light" role="status" hidden>
                                <span class="sr-only">Saving...</span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>

            <div class="collapse" id="statusCollapse">
                <div id="statusAlert" class="alert" role="alert">
                    This placeholder text alerts the user about something
                </div>
            </div>

            <ul id="contact-list" class="list-group">
                <!--REMOVED ON PAGE LOAD-->
                <li id="listItemBlueprint" class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <p class="text-gray-dark phone-number">+46XXXXXXXX0</p>
                        <div>
                            <button type="button" class="btn btn-outline-danger remove">
                                <i class="fa fa-trash"></i>
                                <div class="spinner-border spinner-border-sm text-danger" role="status" hidden>
                                    <span class="sr-only">Removing...</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    
    </body>
</html>